@use 'functions';

.box__button {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);

    &--tweet {
        left: -11%;
        width: 68%;
        height: auto;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        z-index: 1;
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        img {
            display: block;
            width: 120%;
            height: auto;
            position: absolute;
            top: 0;
            left: -30%;
        }
    }

    &--next {
        right: 2%;
        width: min-content;
        height: min-content;
        border: none;
        background-color: transparent;
        
        img {
            display: block;
            width: functions.toRem(40);
            cursor: pointer;

            @media (min-width: 75em) {
                width: functions.toRem(50);
            }
        }
    }
}