@use 'functions';

.box__button {
    position: absolute;
    font-family: 'Caveat', cursive;
    top: 100%;
    transform: translate(0, -100%);

    &--tweet {
        left: 0;
        width: functions.toRem(300);
        height: functions.toRem(300);
        overflow: hidden;
        z-index: 1;

        img {
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            top: 20%;
            left: -20%;
        }
    }

    &--next {
        right: 2%;
        width: min-content;
        height: min-content;
        border: none;
        background-color: transparent;
        
        img {
            display: block;
            width: functions.toRem(40);
        }
    }
}

