@use '../components/functions';
@use '../variables';

.box {

    &__main {
        height: 100%;
        width: 90%;
        padding: functions.toRem(18) functions.toRem(18) functions.toRem(18) functions.toRem(2);
        border-radius: 0 functions.toRem(10) functions.toRem(10);
        // fix that 
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background:
            // white spaces - top and bottom
            linear-gradient(
                variables.$white,
                variables.$white 7%,
                transparent 7%,
                transparent 93%,
                variables.$white 93%,
                variables.$white 100%
            ),
            // white spaces - left and right side
            repeating-linear-gradient(
                90deg,
                transparent,
                transparent 94%,
                variables.$white 94%,
                variables.$white 100%
            ),
            // black lines 
            repeating-linear-gradient(
                variables.$dark-gray,
                variables.$dark-gray functions.toRem(2),
                variables.$white functions.toRem(2),
                variables.$white functions.toRem(25)
            );
    }

    &__title {
        text-align: center;
        font-size: functions.toRem(30);
        font-weight: 700;
    }

    &__quote {
        padding: functions.toRem(20);
    }

    &__text {
        text-align: center;
    }

    &__text::before, &__text::after {
        content: ' " ';
    }

    &__author {
        text-align: right;
    }

    &__author::before {
        content: '- ';
    }
}