@use '../components/functions';
@use '../variables';

.box {
    width: min(90%, functions.toRem(300));
    aspect-ratio: 337.5 / 437;
    height: auto;
    border-radius: 0 functions.toRem(10) functions.toRem(10) 0;
    display: flex;
    align-items: center;
    font-family: variables.$handwriting;
    font-size: functions.toRem(20);
    position: relative;
    background-color: variables.$white;
    perspective: functions.toRem(2000);
    transform-style: preserve-3d;
    align-self: center;

    @media (min-width: 36em) {
        width: min(50%, functions.toRem(350));
        font-size: functions.toRem(21);
    }

    @media (min-width: 62em) {
        width: min(40%, functions.toRem(500));
        font-size: functions.toRem(29);
    }

    @media (min-width: 75em) {
        font-size: functions.toRem(33);
    }
    
    &__sheet {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform-origin: left;
        display: flex;
        align-items: center;
        background-color: variables.$white;
        border-radius: 0 functions.toRem(10) functions.toRem(10) 0;

        &--current {
            z-index: 1;
            transition: transform 1s ease-in-out;
            transform: rotateY(0deg);
        }

        &--next {
            transform: rotateY(0deg);
        }
    }
}

.flip {
    transform: rotateY(-359deg);
}