@use '../variables';
@use '../components/functions';
@use '../components/mixins';

.box {

    &__aside {
        height: 85%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: variables.$white;

        @media (min-width: 75em) {
            height: 87%;
        }

        div {
            height: 100%;
            width: 30%;
            z-index: 2;
            @include mixins.notebook-holes(functions.toRem(10));

            @media (min-width: 36em) {
                @include mixins.notebook-holes(functions.toRem(12));
            }

            @media (min-width: 75em) {
                @include mixins.notebook-holes(functions.toRem(15));
            }
        }
    }

    &__aside::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translate(-50%);
        z-index: 2;
        @include mixins.notebook-spirals(functions.toRem(6.5));

        @media (min-width: 36em) {
            @include mixins.notebook-spirals(functions.toRem(7));
        }

        @media (min-width: 62em) {
            @include mixins.notebook-spirals(functions.toRem(8.5))
        }

        @media (min-width: 75em) {
            @include mixins.notebook-spirals(functions.toRem(10))
        }
    }
}