@use '../variables';
@use '../components/functions';

.box {

    &__aside {
        height: 75%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: variables.$white;

            div {
                height: 100%;
                width: 30%;
                z-index: 2;
                background:
                    repeating-linear-gradient(
                        variables.$black,
                        variables.$black functions.toRem(10),
                        transparent functions.toRem(10),
                        transparent functions.toRem(45)
                    );
            }
    }

    &__aside::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translate(-50%);
        z-index: 2;
        background: 
            repeating-linear-gradient(
                transparent,
                transparent functions.toRem(3),
                variables.$black functions.toRem(3),
                variables.$black functions.toRem(7),
                transparent functions.toRem(7),
                transparent functions.toRem(45)
            );
    }
}